fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
pydantic-settings
requests
passlib[bcrypt]
python-jose[cryptography]
argon2-cffi
python-multipart
pytest
pytest-html
requests
psutil
pynput
apscheduler
httpx
pyinstaller